# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# env files
.env*
!.env.example

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem

# IDE
.vscode/
.idea/

# generated
next-env.d.ts
*.tsbuildinfo
/_local_dokuman_calismalari/*
!/_local_dokuman_calismalari/telifli-dersler/
/_local_dokuman_calismalari/telifli-dersler/*
!/_local_dokuman_calismalari/telifli-dersler/*/
/_local_dokuman_calismalari/telifli-dersler/*/*
!/_local_dokuman_calismalari/telifli-dersler/*/*.json
